body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: darkslategrey;
}
h2 {
    font-size: 30px;
}
* {
    box-sizing: border-box;
}
header {
    margin: 10px 200px 0;
    padding: 20px;
    background-color: blanchedalmond;
    box-shadow: 1px 1px 5px black;
}
.logo img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.title h1 {
    text-align: center;
    font-size: 50px;
}
.contacts ul {
    text-align: center;
    padding: 0;
}
.contacts li {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 20px;
}
.mail-link {
    width: 80px;
    height: 80px;
    background: url(img/mail-icon.svg) no-repeat;
    background-size: cover;
    font-size: 0;
    display: inline-block;
}
.git-link {
    width: 80px;
    height: 80px;
    background: url(img/github-icon.svg) no-repeat;
    background-size: cover;
    font-size: 0;
    display: inline-block;
}
.first-block {
    margin: 0 200px;
    padding: 20px;
    background-color: rgb(49, 45, 40);
    color: rgb(202, 202, 202);
    box-shadow: 1px 1px 5px black;
}
.about p {
    font-size: 22px;
    line-height: 1.7;
}
.code {
    background-color:floralwhite;
    padding: 10px;
    margin: 10px 220px;
    box-shadow: inset 1px 1px 5px gray;
    color: black;
}
.skills li {
    margin: 10px 0;
    font-weight: 900;
    font-size: 20px;
}
.skills h3 {
    margin-left: 250px;
}
.skills p {
    font-size: 22px;
    line-height: 1.7;
}
.second-block {
    margin: 0 200px;
    padding: 20px;
    background-color: blanchedalmond;
    box-shadow: 1px 1px 5px black;
}
.education li {
    margin: 10px 0;
    font-size: 20px;
}
.education p {
    font-size: 22px;
    line-height: 1.7;
}
footer {
    margin: 0 200px;
    padding: 1px;
    background-color: blanchedalmond;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    background-color: rgb(49, 45, 40);
    color: rgb(202, 202, 202);
    box-shadow: 1px 1px 5px black;
}